---
import Tag from './tag.astro';
import type { Tags } from '../common/interfaces';
export interface Props {
  extraTags: Tags[];
}
const { extraTags } = Astro.props;
---

{extraTags.length > 0 && (
  <div id="more-button-wrapper" class="relative group">
    <a
      href="#"
      id="more-button"
      class="flex items-center bg-gray-800 hover:bg-gray-700 transition-all duration-200 px-3 py-1.5 rounded-xl shadow-sm border border-gray-700 text-sm text-gray-100 cursor-pointer select-none"
    >
      <span class="inline-flex items-center gap-0.5">
        +<span id="more-count">{extraTags.length}</span>
      </span>
      <span class="ml-1">more</span>
    </a>

    <div
      id="dropdown-menu"
      class="dropdown-menu absolute right-0 mt-1 w-48 bg-gray-800 rounded-lg shadow-lg border border-gray-700 opacity-0 invisible transition-opacity duration-200 z-50"
    >
      <div
        id="dropdown-tags"
        class="flex flex-col p-2 gap-2 max-h-60 overflow-y-auto scrollbar-thin scrollbar-thumb-gray-600 scrollbar-track-gray-800"
      >
        {extraTags.map(tag => (
          <Tag name={tag.name} icon={tag.icon} href={`/tags/${tag.name.toLowerCase()}`} />
        ))}
      </div>
    </div>
  </div>
)}
